{% extends "base.html" %}

{% block content %}
    <h2>Buscar Receta</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-info") }}
    </form>

    {% if recipe %}
        <h3 class="mt-5">{{ form.name.data }}</h3>
        <h4>Ingredientes:</h4>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <h4>Pasos:</h4>
        <ol>
            {% for step in recipe.steps %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
